<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <title>Prices</title>
</head>
<body>
    <div class="main_content">
        <div class="contentbox">
            <header class="clearfix">
                <H1>BakeryBo</H1>
                <nav>
                    <ul class="main_menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="active"><a href="#">Prise</a></li>
                        <li><a href="#">Where to buy</a></li>
                        <li><a href="#">Bakery</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
            <div class="info_box">
                <h2>New product line from BakeryBo®</h2>
                <h2>Whole wheat bread for your health and fitness goals</h2>
                <p>Gave up bread from your life to stay healthy and fit?</p>
                <p>What if we say now you can enjoy it daily and get only healthier?</p>
            </div>   
            <ul class="menu_cupon">
                <li><a href="#">Where to buy</a></li>
                <li><a href="#">Get a coupon</a></li>
            </ul>
            <div class="linkto_insidebaguette">
                <a href="#link"></a>
            </div>
        </div>
    </div>
    <div class="wrap" id="link">   
        <div class="inside_baguette">
            <div>
                <h2>What’s inside?</h2>
                <p>We are 100% honest about how we bake our bread.</p>
                <p>BakeryBo bread is a rich source of various antioxidants, vitamins, minerals and fibers.</p>
                <p>There are no hidden ingredients that could harm your health or contradict your fitness goals in our recipes. </p>
            </div>
            <div class="baguette_composition">
                <img src="picture/Baget_Pic.png" alt="bread">
                <div class="line01"><p>Whole wheat flour</p>
                    <div></div>
                </div>
                <div class="line02"><p>7 added grains</p>
                    <div></div>
                </div>
                <div class="line03"><p>Iodised salt </p>
                    <div></div>
                </div>
                <div class="line04"><p>Wheat bran</p>
                    <div></div>
                </div>
                <div class="line05">
                    <div></div>
                    <p>No trans fat</p>
                </div>
                <div class="line06">
                    <div></div>
                    <p>No sugar</p>
                </div>
                <div class="line07">
                    <div></div>
                    <p>No artificial flavors</p>
                </div>
                <div class="line08">
                    <div></div>
                    <p>No added white flour</p>
                </div>
            </div>
            <div class="linkto_breadproduction">
                <a href="#link2"></a>
            </div>
        </div>
    </div>
    <div class="bread_production" id="link2">
        <h2>Whole wheat bread line</h2>
        <div class="slider">
            <ul class="prices_menu">
                <li><a href="#"></a>
                    <img src="picture/WholeWheatRound.png" alt="Whole Wheat Round">
                   <p> Whole Wheat</p>
                   <p>Round</p>
                   <p>270 g | 218 kcal</p>
                   <p>$3.79</p>
                </li>
                <li><a href="#"></a>
                    <img src="picture/WholeWheatSquare.png" alt="Whole Wheat Square">
                    <p> Whole Wheat</p>
                    <p>Square</p>
                    <p>150 g | 211 kcal</p>
                    <p>$2.19</p></li>
                <li><a href="#"></a>
                    <img src="picture/WholeWheatMultigrain.png" alt="Whole Wheat Multigrain">
                    <p>Whole Wheat</p>
                    <p>Multigrain</p>
                    <p>270 g | 242 kcal</p>
                    <p>$4.19</p></li>
                <li><a href="#"></a>
                    <img src="picture/BreakfastRaisinSquare.png" alt="Breakfast Raisin Square">
                    <p>Breakfast Raisin</p>
                    <p>Square</p>
                    <p>180 g | 239 kcal</p>
                    <p>$3.79</p></li>
            </ul>
                <a class="slider_arrow_l" href="#"></a>
                <a class="slider_arrow_r" href="#"></a>
        </div>
        <ul class="switcher">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <div class="text_sale">
            <p>Haven’t tried BakeryBo whole wheat bread yet?</p>
            <p>Get a “Buy 1 get 1 free” coupon and receive 2 loaves for the price of 1.</p>
        </div>
        <ul class="menu_cupon">
            <li><a href="#">Where to buy</a></li>
            <li><a href="#">Get a coupon</a></li>
        </ul>
    </div>
    <div class="section">
        <div class="buy_bread">
            <div class="section_text">
             <h2>Where to buy</h2>
                <p>You can find BakeryBo bread in nearly any supermarket in your neighbourhood.</p>
                <p>Our new whole wheat bread line is already on the shelves.</p>
            </div>
            <ul class="list_shop">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <div class="linktofact">
                <a href="#1"></a>
            </div>
        </div>
    </div>
    <div class="wrap_to_fact" id="1">
        <h2>Facts about BakeryBo</h2>
        <ul class="list_facts">
            <li>
                <h3>Organic only</h3>
                <p>We use only organic</p>
                <p>ingredients for our</p> 
                <p> recipes.</p>
            </li>
            <li>
                <h3>9 years serving</h3>
                <p>We’ve been baking</p>
                    <p> bread for 9 years </p> 
                    <p> now.</p>
            </li>
            <li>
                <h3>12 supermarkets</h3>
                <p>You can find our bread </p> 
                   <p> in 12+ well known</p>
                   <p>  supermarkets.</p>
            </li>
            <li>
                <h3>28 products</h3>
                <p>We offer 18 different</p>
                   <p> kinds of bread and</p>
                   <p>  more’s coming.</p>
            </li>
            <li>
                <h3>Recycable bags</h3>
                <p>We care not only for</p> 
                   <p> your health but for </p> 
                   <p> the planet too.</p>
            </li>
            <li>
                <h3>Baking classes</h3>
                <p>We offer group and</p>
                   <p> individual baking </p> 
                  <p>  classes.</p>
            </li>
        </ul>
        <div class="linktofooter">
            <a href="#2"></a>
        </div>
    </div>
    <div class="last_section" id="2">
        <div class="wrap_content">
            <div class="lastsection_content">
                <h2>Get a coupon</h2>
                <p>Haven’t tried our new whole wheat bread? No way!</p>
                <p>The new product line is already on the shelves of supermarkets in your neighnourhood. </p>
                <p>Just download a “Buy 1 get 1 free” coupon and give it away at the cash register. You’ll receive</p>
                <p>2 loaves for the price of 1. Isn’t it great?</p>
                <p>To download a coupon please type in your e-mail.</p>
                <p>You don’t have to check the box if you don’t want to receive news from us though.</p>
                <form class="checkbox_email" action="#">
                <p>
                <input type="email" placeholder="Email *">
                </p>
                <p  class="subscribe">
                <input id="somecheck" type="checkbox">
                <label for="somecheck">
                I want to receive news about deals and new products.
                </label>
                </p>
                </form>
                <ul class="menu_cupon">
                    <li><a href="#">Where to buy</a></li>
                    <li><a href="#">Download coupon</a></li>
                </ul>
            </div>
            <div class="lastsection_coupon">
                <p>buy 1 get 1</p>
                <p>free</p>
                <p>Try new</p>
                <p>BakeryBo</p>
                <p>whole wheat bread</p>
                <p>Just grab 2 same loaves on the shelf, give the coupon at the cash register and pay for 1 loaf only.</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <div class="title_footer">
            <h1>BakeryBo</h1>
            <p>® BakeryGo Inc. All rights reserved.</p>
            </div>
            <div class="info_footer">
                <div class="follow">
                    <h4>Follow us</h4>
                    <p>Yes, we are social</p>
                    <ul class="socmenu">
                        <li class="twitter"><a href="#"></a></li>
                        <li class="instagram"><a href="#"></a></li>
                        <li class="facebook"><a href="#"></a></li>
                    </ul>
                </div>
                <div>
                    <h4>Contact us</h4>
                    <p><a href="#">+79 719 729 29 19</a></p>
                    <p><a href="#">+79 719 729 29 29</a></p>
                    <p><a href="#">bo@bakerybo.com</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>